* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --clr-primary: rgba(193, 137, 54, 0.666);

  background-image: url(../img/map2.jpeg);
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: auto; */
  font-family: museo-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  /* background-color: rgba(41, 10, 4, 0.749); */
  height: 100vh;
}

#logo-container {
  display: flex;
  justify-content: center;
}

#logo {
  width: 20rem;
}

#playerUsername {
  margin-top: -3.5rem;
  text-align: center;
  color: rgb(146, 110, 110);
  text-shadow:
  0.03em 0 rgb(29, 3, 3),
  0 0.03em rgb(29, 3, 3),
  -0.03em 0 rgb(29, 3, 3),
  0 -0.03em rgb(29, 3, 3);
}

main {
  width: 320px;
  height: 280px;
  background-image: url(../img/map1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 3px var(--clr-primary);
  margin: auto;
  position: relative;
}

.characterCard {
  width: 80px;
  height: 130px;
  background-image: url(../img/cardBackground.png);
  background-position: center;
  background-size: cover;
  color: var(--clr-primary);
  text-align: center;
}

#playerCard-container {
  margin: -30px auto auto 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

#bossCard-container {
  margin: 20px 12px auto auto;
  position: relative;
}

#bossStat-container,
#playerStat-container {
  display: flex;
  justify-content: space-between;
}

#bossAttackVal, #bossDefenseVal, #bossEvasionVal, #playerAttackVal, #playerDefenseVal, #playerEvasionVal {
  text-align: center;
  position: absolute;
  bottom: 6px;
  color: rgb(237, 57, 17);
  text-shadow:
    0.07em 0 rgb(46, 7, 7),
    0 0.07em rgb(46, 7, 7),
    -0.07em 0 rgb(46, 7, 7),
    0 -0.07em rgb(46, 7, 7);
}
#bossAttackVal, #playerAttackVal {
  left: 9px;
}
#bossDefenseVal, #playerDefenseVal {
  left: 36px;
}
#bossEvasionVal, #playerEvasionVal {
  right: 8px;
}
#bossAttackIcon, #bossDefenseIcon, #bossEvasionIcon, #playerAttackIcon, #playerDefenseIcon, #playerEvasionIcon  {
  position: absolute;
  bottom: 0px;
}
#bossAttackIcon, #playerAttackIcon  {
  left: -2px;
}
#bossDefenseIcon, #playerDefenseIcon  {
  left: 25px;
}
#bossEvasionIcon, #playerEvasionIcon  {
  right: -4px;
}

.cardTitle-container {
  font-size: 0.75rem;
  color: rgb(208, 166, 166);
  text-shadow:
  0.03em 0 rgb(29, 3, 3),
  0 0.03em rgb(29, 3, 3),
  -0.03em 0 rgb(29, 3, 3),
  0 -0.03em rgb(29, 3, 3);
}

.cardPortrait {
    height: 82px;
    width: 60px;
    margin: auto;
}

#playerPortait {
  margin: -30px auto auto 12px;
}

h3 {
  padding-top: .25rem;
}

h4 {
  font-size: 0.65rem;
  text-align: center;
  margin: auto auto 2.5rem;
  z-index: 4;
  color: rgb(171, 156, 133);
  text-shadow:
  0.03em 0 rgb(29, 3, 3),
  0 0.03em rgb(29, 3, 3),
  -0.03em 0 rgb(29, 3, 3),
  0 -0.03em rgb(29, 3, 3);
}

h5 {
  position: absolute;
  font-size: 1.75rem;
  bottom: 12px;
  z-index: 5;
}

.cardIcon {
  position: absolute;
  width: 3.25rem;
  z-index: 2;
}
#Card1, #Card2, #Card3 {
  position: relative;
}
#card1Icon, #card2Icon, #card3Icon {
  position: absolute;
  left: -.15rem;
  bottom: 3.45rem;
}
#card1Val, #card2Val, #card3Val {
  left: 7px;
  color: rgb(29, 3, 3);
  text-shadow:
  0.03em 0 rgb(235, 195, 195),
  0 0.03em rgb(235, 195, 195),
  -0.03em 0 rgb(235, 195, 195),
  0 -0.03em rgb(235, 195, 195);
}
#playerHealthbar-container {
  position: absolute;
  width: 80px;
  height: 12px;
  bottom: 160px;
  left: 12px;
  background-color: rgb(48, 19, 4);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#playerHealthbar {
    width: 76px;
    height: 10px;
    background: var(--clr-primary);
    display: flex;
    text-align: center;
    align-items: center;
}

#playerHealthCurrent {
    width: 100%;
    height: 100%;
    background: rgb(237, 57, 17);
}

#bossHealthbar-container {
  position: absolute;
  width: 200px;
  height: 20px;
  top: 20px;
  left: 12px;
  background-color: rgb(48, 19, 4);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#bossHealthbar {
  width: 196px;
  height: 16px;
  background-color: var(--clr-primary);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
}

#bossHealthCurrent {
  width: 100%;
  height: 100%;
  background-color: rgb(237, 57, 17);
}

#turnOptions-container {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 128px;
  bottom: 105px;
  background-color: rgba(62, 55, 52, 0.728);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  color: rgb(205, 154, 128);
}

button {
  background-color: rgba(0, 0, 0, 0.817);
  color: var(--clr-primary);
  text-align: center;
  border: none;
  border-radius: 2px;
  padding: .25rem;
}

#rematch {
  position: absolute;
  bottom: 40px;
  right: 70px;
  padding: .75rem;
  border-radius: 4px;
}

#playerDeck {
  width: 160px;
  height: 80px;
  position: absolute;
  right: 50px;
  bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.deckCard {
  width: 50px;
  height: 82px;
  background-image: url(../img/cardBackground.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 1px rgb(48, 19, 4);
  color: rgb(48, 19, 4);
}

.icon {
  width: 2rem;
}

.hide {
  visibility: hidden;
}

#howToPlay-container {
  position: absolute;
  left: 100px;
  bottom: 150px;
  display: flex;
  visibility: hidden;
  /* display: none;  */
}

#scrollHeader {
  position: absolute;
  left: 150px;
  top: 60px;
  color: rgb(48, 19, 4);
  display: flex;
  cursor: default;
}

#ruleMenu {
  color: var(--clr-primary);
  position: relative;
  left: 200px;
  top: 0px;
  cursor: default;
}

#ruleBtn {
  color: var(--clr-primary);
}

#ruleBtn:hover {
  filter: brightness(120%);
  cursor: default;
}

#scrollText {
  position: absolute;
  left: 95px;
  top: 90px;
  color: rgb(48, 19, 4);
  display: flex;
  cursor: default;
}

#gameLog{
  width: 100%;
  height:80px;
  overflow:scroll;
  margin-top: 60px;
  background-color: rgba(193, 137, 54, 0.666);
  color:black;
  line-height: 2em;
 scrollbar-width: thin;

}


@media screen and (min-width: 450px) {
  #logo {
    width: 30rem;
  }
  #playerUsername {
    font-size: 2.5rem;
    margin-top: -3.5rem;
    margin-bottom: 1rem;
  }
  main {
    width: 640px;
    height: 560px;
  }

  .characterCard {
    width: 160px;
    height: 260px;
  }
  #playerCard-container {
    margin: -30px auto auto 24px;
  }
  #bossCard-container {
    margin: 20px 24px auto auto;
  }
  #bossAttackVal, #bossDefenseVal, #bossEvasionVal, #playerAttackVal, #playerDefenseVal, #playerEvasionVal {
    bottom: 16px;
    font-size: 1.5rem;
  }
  #bossAttackVal, #playerAttackVal {
    left: 22px;
  }
  #bossDefenseVal, #playerDefenseVal {
    left: 68px;
  }
  #bossEvasionVal, #playerEvasionVal {
    right: 22px;
  }
  #bossAttackIcon, #bossDefenseIcon, #bossEvasionIcon, #playerAttackIcon, #playerDefenseIcon, #playerEvasionIcon  {
    bottom: 6px;
  }
  #bossAttackIcon, #playerAttackIcon  {
    left: 4px;
  }
  #bossDefenseIcon, #playerDefenseIcon  {
    left: 50px;
  }
  #bossEvasionIcon, #playerEvasionIcon  {
    right: 6px;
  }
  .icon {
    width: 3.25rem;
  }
  .cardTitle-container {
    font-size: 1.25rem;
    padding-top: .25rem;
  }
  .cardPortrait {
      height: 164px;
      width: 120px;
  }
  #playerPortait {
    margin: -30px auto auto 24px;
  }

  #playerDeck {
    width: 320px;
    height: 160px;
    right: 100px;
    bottom: 40px;
  }
  .deckCard {
    width: 100px;
    height: 164px;
  }
  h4 {
    font-size: 1.25rem;
    margin: auto auto 5rem;
  }
  h5 {
    font-size: 3rem;
    bottom: 24px;
  }
  .cardIcon {
    width: 6.25rem;
  }
  #card1Icon, #card2Icon, #card3Icon {
    left: .05rem;
    bottom: 6.5rem;
  }
  #card1Val, #card2Val, #card3Val {
    left: 19px;
  }

  #playerHealthbar-container {
    width: 160px;
    height: 24px;
    bottom: 310px;
    left: 24px;
  }
  #playerHealthbar {
      width: 155px;
      height: 18px;
  }
  
  #bossHealthbar-container {
    width: 400px;
    height: 40px;
    top: 30px;
    left: 24px;
  }
  #bossHealthbar {
    width: 392px;
    height: 32px;
  }
  
  #turnOptions-container {
    width: 120px;
    height: 120px;
    left: 260px;
    bottom: 220px;
  }
  button {
    border-radius: 4px;
    padding: .5rem;
    font-size: larger;
  }
  #rematch {
    bottom: 80px;
    right: 140px;
    padding: 1.5rem;
    border-radius: 8px;
  }
}
