* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --clr-primary: rgba(193, 137, 54, 0.666);

    background-image: url(../img/map2.jpeg);
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: auto; */
}

body {
    /* background-color: rgba(41, 10, 4, 0.749); */
    height: 100vh;
}

#logo-container {
    display: flex;
    justify-content: center;
}

#logo {
    width: 20rem;
}

#playerUsername {
    margin-top: -3.5rem;
    text-align: center;
    color: var(--clr-primary);
}

main {
    width: 320px;
    height: 280px;
    background-image: url(../img/map1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 3px var(--clr-primary);
    margin: auto;
    position: relative;
}

.characterCard {
    width: 80px;
    height: 130px;
    background-color: rgb(48, 19, 4);
    border: solid 3px var(--clr-primary);
    border-radius: 4px;
    color: var(--clr-primary);
    text-align: center;
}

#playerCard-container {
    margin: -30px auto auto 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bossCard-container {
    margin: 20px 12px auto auto;
}

#bossStat-container, #playerStat-container {
    display: flex;
    justify-content: space-around;
}

.cardTitle-container {
    font-size: .75rem;
}

.cardPortrait {
    
    width: 60px;
    margin: auto;
    
}
#playerPortait{
    width:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#playerDeck {
    width: 160px;
    height: 80px;
    position: absolute;
    right: 50px;
    bottom: 20px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.deckCard {
    width: 50px;
    height: 75px;
    background-color: var(--clr-primary);
    border: solid 3px rgb(48, 19, 4);
    color: rgb(48, 19, 4);
}

h4 {
    font-size: .75rem;
    margin: .8rem auto .25rem;
}

h5 {
    font-size: 1.5rem;
}

#playerHealthbar-container {
    position: absolute;
    width: 80px;
    height: 12px;
    bottom: 160px;
    left: 12px;
    background-color: rgb(48, 19, 4);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#playerHealthbar {
    width: 76px;
    height: 10px;
    background-color: var(--clr-primary);
    display: flex;
    text-align: center;
    align-items: center;
}

#playerHealthCurrent {
    width: 50px;
    height: 8px;
    background-color: rgb(237, 57, 17);
}

#bossHealthbar-container {
    position: absolute;
    width: 200px;
    height: 20px;
    top: 20px;
    left: 12px;
    background-color: rgb(48, 19, 4);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#bossHealthbar {
    width: 196px;
    height: 16px;
    background-color: var(--clr-primary);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
}

#bossHealthCurrent {
    width: 176px;
    height: 14px;
    background-color: rgb(237, 57, 17);
}

#turnOptions-container {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 128px;
    bottom: 105px;
    background-color: rgba(62, 55, 52, 0.728);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: rgb(205, 154, 128);
    visibility: hidden;
}