*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

    body {
        background-image: url('../img/menubackground.png');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .jobboard {
        background-image: url('../img/jobboard.png');
        background-size: 95%;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 25%;
        margin-top: 12%;
        margin-left: 5%;
        margin-right: 4%;
    }

    button {
        padding: 10px;
    }

    #profile {
        background-image: url("../img/profile.png");
        background-color: transparent;
        background-size: 80%;
        background-repeat: no-repeat;
        height: 100%;
        width: 20%;
        border: none;
        position: absolute;
        top: 35%;
        left: 19%;
    }

    #startmatch {
        background-image: url("../img/startmatch.png");
        background-color: transparent;
        background-size: 74%;
        background-repeat: no-repeat;
        height: 100%;
        width: 26%;
        border: none;
        position: absolute;
        top: 29%;
        left: 43%;
    }

    #devs {
        background-image: url("../img/devs.png");
        background-color: transparent;
        background-size: 78%;
        background-repeat: no-repeat;
        height: 400px;
        width: 26%;
        border: none;
        position: absolute;
        top: 52%;
    }